@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @keyframes animation-effect { 
      0%, 100% { transform: scale(1); } 
      50% { transform: scale(1.6); }   
    }
  
    .animation-effect {
      animation: animation-effect 3s ease-in-out infinite;
    }
    @keyframes animation-effect2 { 
        0%, 100% { transform: translateX(0); } 
        50% { transform: translateX(25px); }   
      }
    
      .animation-effect2 {
        animation: animation-effect2 3s ease-in-out infinite;
      }
      
      
      @keyframes animation-effect3 {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }
        .animation-effect3 {
            animation: animation-effect3 2s linear infinite; 
        }

        @keyframes animation-effect4 {
          0% { transform: scale(0); }
          100% { transform: scale(1.7); }
        }
        .animation-effect3 {
            animation: animation-effect4 3s linear ;
        }
     
  }

 